In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

In [ ]:
path = '/content/drive/My Drive/MyFolder/'
file_name = 'Power BI - Final Project.xlsx'

data = pd.read_excel(path+file_name)

In [ ]:
data.shape

(630, 28)

In [ ]:
data.columns

Index(['Unique ID', 'Email', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Browser', 'OS', 'City', 'Country',
       'Referrer', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity'],
      dtype='object')

In [ ]:
data_backup = data.copy(deep=True)
# data = data_backup.copy(deep=True)

# Drop some redundant columns

In [ ]:
# data['Email'].value_counts() # useless info
data.drop(['Email'], axis=1, inplace=True)

In [ ]:
# data[['Date Taken (America/New_York)', 'Time Taken (America/New_York)']].tail(20) # useless info
data.drop(['Date Taken (America/New_York)', 'Time Taken (America/New_York)'], axis=1, inplace=True)

In [ ]:
# len(set(data['Unique ID']))
data.drop(['Unique ID'], axis=1, inplace=True)

In [ ]:
# data['Browser'].value_counts()
# data['OS'].value_counts()
# data['City'].value_counts()
# data['Country'].value_counts()
# data['Referrer'].value_counts()
data.drop(['Browser', 'OS', 'City', 'Country', 'Referrer', 'Time Spent'], axis=1, inplace=True)

In [ ]:
data.columns

Index(['Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity'],
      dtype='object')

In [ ]:
new_cols = ['job_title', 'switch_carrer', 'yearly_salary', 'industry', 'languages_use',
            'salary_satisfaction', 'life_balance_satisfaction', 'coworker_satisfaction',
            'management_satisfaction', 'upward_satisfaction', 'q6', 'difficulty_feeling',
            'q8', 'sex', 'age', 'country', 'education_level', 'ethnicity']

map_cols = dict(zip(data.columns, new_cols))
map_cols

In [ ]:
map_cols

{'Q1 - Which Title Best Fits your Current Role?': 'job_title',
 'Q2 - Did you switch careers into Data?': 'switch_carrer',
 'Q3 - Current Yearly Salary (in USD)': 'yearly_salary',
 'Q4 - What Industry do you work in?': 'industry',
 'Q5 - Favorite Programming Language': 'languages_use',
 'Q6 - How Happy are you in your Current Position with the following? (Salary)': 'salary_satisfaction',
 'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)': 'life_balance_satisfaction',
 'Q6 - How Happy are you in your Current Position with the following? (Coworkers)': 'coworker_satisfaction',
 'Q6 - How Happy are you in your Current Position with the following? (Management)': 'management_satisfaction',
 'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)': 'upward_satisfaction',
 'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)': 'q6',
 'Q7 - How difficult was it for you to break into Data?': 'difficulty_feeling',
 'Q8 - If you were to look for a new job today, what would be the most important thing to you?': 'q8',
 'Q9 - Male/Female?': 'sex',
 'Q10 - Current Age': 'age',
 'Q11 - Which Country do you live in?': 'country',
 'Q12 - Highest Level of Education': 'education_level',
 'Q13 - Ethnicity': 'ethnicity'}

In [ ]:
data.rename(map_cols, axis=1, inplace=True)

In [ ]:
set(data['education_level'])
data['education_level'].value_counts()

Bachelors      329
Masters        192
High School     36
Associates      16
PhD              5
Name: education_level, dtype: int64

In [ ]:
data.drop(['q6', 'q8'], axis=1, inplace=True)

In [ ]:
data_backup = data.copy(deep=True)

# Column Transforming

In [ ]:
data.columns

Index(['job_title', 'switch_carrer', 'yearly_salary', 'industry',
       'languages_use', 'salary_satisfaction', 'life_balance_satisfaction',
       'coworker_satisfaction', 'management_satisfaction',
       'upward_satisfaction', 'difficulty_feeling', 'sex', 'age', 'country',
       'education_level', 'ethnicity'],
      dtype='object')

In [ ]:
set(data['job_title'])

In [ ]:
def job_title_other1(job):
    if job[:5] == 'Other':
        job = job.replace('Other (Please Specify)', 'Other')
    return job
def job_title_replace(job):
    ba_list = ['Other:Business Analys', 'Other:Business Analyst', 'Other:Business Analyst ',
               'Other:Business Intelligence Analyst', 'Other:Business analyst ',
               'Other:Senior Business Analyst']
    ds_list = ['Other:Data Scientist Intern', 'Other:Jr. Data Scientist']
    if job in ba_list:
        job = 'Business Analyst'
    if job in ds_list:
        job = 'Data Scientist'
    return job
def job_title_other2(job):
    if job[:5] == 'Other':
        job = 'Other'
    return job

def job_title_transformer(job):
    job = job_title_other1(job)
    job = job_title_replace(job)
    job = job_title_other2(job)
    return job

In [ ]:
data['job_title'] = data['job_title'].apply(job_title_transformer)
data['job_title'].replace('Student/Looking/None', 'Other', inplace=True)
set(data['job_title'])

{'Business Analyst',
 'Data Analyst',
 'Data Architect',
 'Data Engineer',
 'Data Scientist',
 'Database Developer',
 'Other'}

In [ ]:
set(data['switch_carrer'])

{'No', 'Yes'}

In [ ]:
data['switch_carrer'].replace('Yes', 1, inplace=True)
data['switch_carrer'].replace('No', 0, inplace=True)

In [ ]:
set(data['yearly_salary'])

{'0-40k',
 '106k-125k',
 '125k-150k',
 '150k-225k',
 '225k+',
 '41k-65k',
 '66k-85k',
 '86k-105k'}

In [ ]:
data['yearly_salary_range'] = data['yearly_salary']
data['yearly_salary_average'] = data['yearly_salary']

In [ ]:
def salary_average(salary):
    number = re.findall(r'\d+', salary)
    if len(number) == 2:
        min = int(number[0])
        max = int(number[1])
        salary = (min + max) // 2
    else:
        salary = 225
    return salary

In [ ]:
data['yearly_salary_average'] = data['yearly_salary_average'].apply(salary_average)
data.drop(['yearly_salary'], axis=1, inplace=True)

In [ ]:
set(data['industry'])

In [ ]:
data['industry'] = data['industry'].apply(job_title_other2)
set(data['industry'])

{'Agriculture',
 'Construction',
 'Education',
 'Finance',
 'Healthcare',
 'Other',
 'Real Estate',
 'Tech',
 'Telecommunication'}

In [ ]:
set(data['languages_use'])
data.drop(['languages_use'], axis=1, inplace=True)

In [ ]:
data[['salary_satisfaction', 'life_balance_satisfaction', 'coworker_satisfaction',
     'management_satisfaction', 'upward_satisfaction']].dtypes

salary_satisfaction          float64
life_balance_satisfaction    float64
coworker_satisfaction        float64
management_satisfaction      float64
upward_satisfaction          float64
dtype: object

In [ ]:
set(data['difficulty_feeling'])
data['difficulty_feeling'].value_counts()

{'Difficult',
 'Easy',
 'Neither easy nor difficult',
 'Very Difficult',
 'Very Easy'}

In [ ]:
feeling_map = {'Very Easy': 1, 'Easy': 2, 'Neither easy nor difficult': 3, 'Difficult': 4, 'Very Difficult': 5}
data['difficulty_feeling'] = data['difficulty_feeling'].replace(feeling_map, inplace=False)

In [ ]:
data['sex'].replace('Male', 1, inplace=True)
data['sex'].replace('Female', 0, inplace=True)

In [ ]:
print(set(data['age']))

{18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 50, 51, 52, 53, 54, 55, 56, 58, 60, 66, 92}

In [ ]:
data['age'].dtypes

dtype('int64')

In [ ]:
data['country'].value_counts()

United States                       261
India                                73
United Kingdom                       40
Canada                               32
Other (Please Specify):Nigeria       18
                                   ...
Other (Please Specify):Ire            1
Other (Please Specify):Antigua        1
Other (Please Specify):Venezuela      1
Other (Please Specify):Brazik         1
Other (Please Specify):Oman           1
Name: country, Length: 98, dtype: int64

In [ ]:
data['country'] = data['country'].apply(job_title_other2)
set(data['country'])

{'Canada', 'India', 'Other', 'United Kingdom', 'United States'}

In [ ]:
set(data['education_level'])

{'Associates', 'Bachelors', 'High School', 'Masters', 'PhD', nan}

In [ ]:
data['education_level'].value_counts().sum()

578

In [ ]:
data['ethnicity'] = data['ethnicity'].apply(job_title_other2)
set(data['ethnicity'])

{'American Indian or Alaska Native',
 'Asian or Asian American',
 'Black or African American',
 'Hispanic or Latino',
 'Native Hawaiian or other Pacific Islander',
 'Other',
 'White or Caucasian'}

In [ ]:
data.shape

(630, 16)

In [ ]:
data.dtypes

job_title                     object
switch_carrer                  int64
industry                      object
salary_satisfaction          float64
life_balance_satisfaction    float64
coworker_satisfaction        float64
management_satisfaction      float64
upward_satisfaction          float64
difficulty_feeling             int64
sex                            int64
age                            int64
country                       object
education_level               object
ethnicity                     object
yearly_salary_range           object
yearly_salary_average          int64
dtype: object

In [ ]:
path = '/content/drive/My Drive/MyFolder/'
file_name = 'cleaned_data.csv'

with open(path+file_name, 'w') as f:
    data.to_csv(f, index=False)