In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('job_postings.csv')

In [ ]:
data

In [ ]:
data.columns

Index(['Unnamed: 0', 'Job Posting ID', 'Job Posting Date', 'Job Title',
       'Job Title Full', 'Job Title Additional Info', 'Job Position Type',
       'Job Position Level', 'Years of Experience', 'Job Skills',
       'Job Location', 'Minimum Pay', 'Maximum Pay', 'Pay Rate',
       'Number of Applicants', 'Company Name', 'Company Industry',
       'Company Size'],
      dtype='object')

In [ ]:
drop_list = ['Unnamed: 0', 'Job Posting ID']

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25114 entries, 0 to 25113
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Job Posting Date           25114 non-null  object
 1   Job Title                  25114 non-null  object
 2   Job Title Full             25114 non-null  object
 3   Job Title Additional Info  8187 non-null   object
 4   Job Position Type          25114 non-null  object
 5   Job Position Level         25114 non-null  object
 6   Years of Experience        25114 non-null  int64
 7   Job Skills                 25114 non-null  object
 8   Job Location               25114 non-null  object
 9   Minimum Pay                1812 non-null   float64
 10  Maximum Pay                1812 non-null   float64
 11  Pay Rate                   1812 non-null   object
 12  Number of Applicants       17529 non-null  float64
 13  Company Name               25053 non-null  object
 14  Company Industry           24895 non-null  object
 15  Company Size               24892 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 3.1+ MB

In [ ]:
drop_list += ['Job Title Additional Info', 'Minimum Pay', 'Maximum Pay', 'Pay Rate']
data.drop(drop_list, axis=1, inplace=True)

In [ ]:
data.rename(lambda x: x.replace(' ', '_').lower(), axis=1, inplace=True)
data.rename(lambda x: x.replace('job_', ''), axis=1, inplace=True)
data.rename({'years_of_experience': 'yoe'}, axis=1, inplace=True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25114 entries, 0 to 25113
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   posting_date          25114 non-null  object
 1   title                 25114 non-null  object
 2   title_full            25114 non-null  object
 3   position_type         25114 non-null  object
 4   position_level        25114 non-null  object
 5   yoe                   25114 non-null  int64
 6   skills                25114 non-null  object
 7   location              25114 non-null  object
 8   number_of_applicants  17529 non-null  float64
 9   company_name          25053 non-null  object
 10  company_industry      24895 non-null  object
 11  company_size          24892 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 2.3+ MB

In [ ]:
data['posting_date'] = pd.to_datetime(data['posting_date'])
data['posting_date'].sort_values()

0       2017-01-01
1       2017-01-01
2       2017-01-01
3       2017-01-01
4       2017-01-01
           ...
25099   2021-12-31
25098   2021-12-31
25112   2021-12-31
25104   2021-12-31
25113   2021-12-31
Name: posting_date, Length: 25114, dtype: datetime64[ns]

In [ ]:
data['title'].value_counts()

Software Engineer                  8112
Data Engineer                      3462
Business Analyst                   2009
Data Scientist                     1999
Developer                          1502
Data Analyst                       1485
Ux Researcher                       897
Software Development Engineer       506
Product Manager                     481
Senior Analyst                      463
Software Developer                  459
Systems Analyst                     416
Machine Learning Engineer           283
Financial Analyst                   237
Operations Analyst                  234
Data Architect                      215
Business Intelligence Analyst       184
Analytics Engineer                  135
User Experience Researcher          132
Product Analyst                     126
Marketing Analyst                   126
Sales Engineer                      102
Quality Assurance Analyst           101
Product Owner                       100
Business System Analyst              98
Compensation Analyst                 85
System Engineer                      81
Solutions Engineer                   81
Research Scientist                   80
Quality Engineer                     74
Research Analyst                     60
Operations Manager                   60
Data Infrastructure Engineer         58
Database Engineer                    56
Business Process Analyst             56
Digital Analyst                      50
Compliance Analyst                   49
Devops Engineer                      43
Business Consultant                  39
Pricing Analyst                      39
Financial Planning Analyst           38
Data Warehouse Engineer              36
Full Stack Engineer                  34
Senior Compensation Consultant       30
Analytics Manager                    29
Network Analyst                      25
Data Quality Analyst                 24
Compliance Engineer                  23
Data Science Manager                 23
Credit Analyst                       21
Sales Analyst                        21
Business Intelligence Developer      19
Data Science Engineer                16
Name: title, dtype: int64

In [ ]:
filter = data['title'].str.contains('Data')
data = data[filter]

In [ ]:
data['title'].value_counts()

Data Engineer                   3462
Data Scientist                  1999
Data Analyst                    1485
Data Architect                   215
Data Infrastructure Engineer      58
Database Engineer                 56
Data Warehouse Engineer           36
Data Quality Analyst              24
Data Science Manager              23
Data Science Engineer             16
Name: title, dtype: int64

In [ ]:
replace_dict = {'Infrastructure ': '', 'base Engineer': ' Engineer', 'Warehouse ': '',
                'Quality ': '', 'Science Manager': 'Scientist', 'Science Engineer': 'Scientist'}

for old, new in replace_dict.items():
    data['title'] = data['title'].str.replace(old, new)

In [ ]:
data['title'].value_counts()

Data Engineer     3612
Data Scientist    2038
Data Analyst      1509
Data Architect     215
Name: title, dtype: int64

In [ ]:
subset = data[['title', 'title_full']].copy()
subset = subset.query('title != title_full')
subset

                title                                     title_full
1       Data Engineer                            Azure Data Engineer
5       Data Engineer                              Aws Data Engineer
7        Data Analyst                  Healthcare Payer Data Analyst
17       Data Analyst                          Business Data Analyst
31       Data Analyst                                Hr Data Analyst
...               ...                                            ...
25052   Data Engineer                           Data Engineer Senior
25077    Data Analyst  Data Analyst- Gdit National Assistance Center
25079   Data Engineer                            Graph Data Engineer
25092  Data Scientist                       Principal Data Scientist
25112  Data Architect         Remote Job Opportunity: Data Architect

[2640 rows x 2 columns]

In [ ]:
data.drop('title_full', axis=1, inplace=True)

In [ ]:
data['position_type'].value_counts()

Full-time     4913
Contract      2429
Part-time       12
Internship      11
Temporary        9
Name: position_type, dtype: int64

In [ ]:
data['position_level'].value_counts()

Mid-Senior level    4653
Associate           1492
Entry level         1146
Director              56
Internship            16
Executive             11
Name: position_level, dtype: int64

In [ ]:
data['yoe'].sort_values()

23044     0
2344      0
7011      0
1681      0
20338     0
         ..
20878    15
9588     15
10575    15
4045     20
24921    20
Name: yoe, Length: 7374, dtype: int64

In [ ]:
data['skills'].head()

1     ['data_lake', 'cloud', 'python', 'spark', 'git...
5     ['data_lake', 'cloud', 'data_lakes', 'python',...
7     ['data_lake', 'database', 'python', 'hadoop', ...
8     ['python', 'programming', 'etl', 'postgresql',...
13    ['cloud', 'power_bi', 'python', 'gcp', 'progra...
Name: skills, dtype: object

In [ ]:
data['location'].value_counts()

United States           1482
New York, NY             235
San Francisco, CA        225
Chicago, IL              142
Seattle, WA              123
                        ...
Dexter, MI                 1
Alamo, CA                  1
America, AL                1
Greater Asheville          1
Plymouth Meeting, PA       1
Name: location, Length: 695, dtype: int64

In [ ]:
data['company_industry'].value_counts()

Internet                             2233
Staffing & Recruiting                1255
Information Technology & Services    1246
Computer Software                     776
Financial Services                    296
                                     ...
Business Supplies & Equipment           1
Events Services                         1
Veterinary                              1
Investment Management                   1
International Trade & Development       1
Name: company_industry, Length: 93, dtype: int64

In [ ]:
data['company_size'].value_counts()

1,001-5,000 employees     3187
51-200 employees          1064
201-500 employees         1031
10,001+ employees          611
501-1,000 employees        548
11-50 employees            468
1-10 employees             222
5,001-10,000 employees     164
Name: company_size, dtype: int64

In [ ]:
data['company_size'] = data['company_size'].str.replace(' employees', '')

In [ ]:
job_info = data.copy()
job_skills = data['skills'].copy()
job_info.drop('skills', axis=1, inplace=True)

In [ ]:
job_skills

1        ['data_lake', 'cloud', 'python', 'spark', 'git...
5        ['data_lake', 'cloud', 'data_lakes', 'python',...
7        ['data_lake', 'database', 'python', 'hadoop', ...
8        ['python', 'programming', 'etl', 'postgresql',...
13       ['cloud', 'power_bi', 'python', 'gcp', 'progra...
                               ...
25092    ['python', 'r', 'outlook', 'machine_learning',...
25107    ['python', 'programming', 'aws', 'tableau', 'p...
25109    ['python', 'hadoop', 'r', 'powerpoint', 'progr...
25112    ['excel', 'database', 'ssis', 't-sql', 'ci/cd'...
25113    ['numpy', 'warehousing', 'database', 'pandas',...
Name: skills, Length: 7374, dtype: object

In [ ]:
job_info_backup = job_info.copy()
job_skills_backup = job_skills.copy()
# job_info = job_info_backup.copy()
# job_skills = job_skills_backup.copy()

In [ ]:
job_skills = job_skills.apply(eval)
job_skills = job_skills.reset_index()
job_skills.rename({'index': 'job_id'}, axis=1, inplace=True)

In [ ]:
job_skills

      job_id                                             skills
0          1  [data_lake, cloud, python, spark, github, ware...
1          5  [data_lake, cloud, data_lakes, python, hadoop,...
2          7  [data_lake, database, python, hadoop, ibm, ora...
3          8  [python, programming, etl, postgresql, linux, ...
4         13  [cloud, power_bi, python, gcp, programming, aw...
...      ...                                                ...
7369   25092  [python, r, outlook, machine_learning, go, scala]
7370   25107  [python, programming, aws, tableau, postgresql...
7371   25109  [python, hadoop, r, powerpoint, programming, s...
7372   25112  [excel, database, ssis, t-sql, ci/cd, coding, ...
7373   25113  [numpy, warehousing, database, pandas, aws, my...

[7374 rows x 2 columns]

In [ ]:
job_skills['count'] = job_skills['skills'].apply(lambda x: len(x))

In [ ]:
job_skills['count'].value_counts().sort_index()

0      755
1      139
2      196
3     1329
4      450
5      417
6      478
7      482
8      507
9      244
10     375
11     280
12     306
13     342
14     239
15     208
16     187
17      88
18      99
19      52
20      76
21      50
22      20
23      18
24      11
25       3
26      14
28       4
29       1
30       2
32       1
42       1
Name: count, dtype: int64

In [ ]:
x = job_skills.query('count == 42')
x

      job_id                                             skills  count
6303   21576  [data_lake, sap, database, power_bi, ruby, agi...     42

In [ ]:
job_info.loc[21576]

posting_date                          2021-07-09 00:00:00
title                                       Data Engineer
position_type                                   Full-time
position_level                           Mid-Senior level
yoe                                                     7
location                                    United States
number_of_applicants                                 15.0
company_name                                     Jenzabar
company_industry        Information Technology & Services
company_size                                      201-500
Name: 21576, dtype: object

In [ ]:
job_skills = job_skills.explode('skills')[['job_id', 'skills']].reset_index(drop=True)

In [ ]:
set(job_skills['skills'])

{'agile',
 'agile/scrum',
 'ai',
 'ai/ml',
 'airflow',
 'ajax',
 'alteryx',
 'apache',
 'asp.net',
 'atlassian',
 'aurora',
 'aws',
 'azure',
 'back-end',
 'backend',
 'bash',
 'bi',
 'bigquery',
 'bitbucket',
 'bloomberg',
 'c',
 'c++',
 'c/c++',
 'ci/cd',
 'cicd',
 'cloud',
 'codebase',
 'coding',
 'cognos',
 'css',
 'data_lake',
 'data_lakes',
 'database',
 'datadog',
 'dataops',
 'datarobot',
 'dax',
 'devops',
 'docker',
 'dplyr',
 'ember.js',
 'etl',
 'excel',
 'frontend',
 'fullstack',
 'gcp',
 'gdpr',
 'ggplot2',
 'git',
 'github',
 'gitlab',
 'go',
 'golang',
 'graphql',
 'hadoop',
 'html',
 'html5',
 'iaas',
 'ibm',
 'ios',
 'iot',
 'java',
 'javascript',
 'javascript/typescript',
 'jira',
 'jquery',
 'js',
 'json',
 'jupyter',
 'kanban',
 'keras',
 'kotlin',
 'linux',
 'linux/unix',
 'looker',
 'machine_learning',
 'macros',
 'matlab',
 'matplotlib',
 'microsoft',
 'microstrategy',
 'ml',
 'mlops',
 'mlr',
 'mongo',
 'mongodb',
 'mssql',
 'mxnet',
 'mysql',
 nan,
 'nlp',
 'nltk',
 'no-sql',
 'node',
 'node.js',
 'nosql',
 'numpy',
 'oracle',
 'outlook',
 'paas',
 'pandas',
 'perl',
 'php',
 'pl/sql',
 'plotly',
 'postgres',
 'postgresql',
 'power_bi',
 'powerbi',
 'powerpoint',
 'powerpoints',
 'powershell',
 'programming',
 'pyspark',
 'python',
 'pytorch',
 'qlik',
 'r',
 'redis',
 'redshift',
 'rshiny',
 'ruby',
 'rust',
 'saas',
 'sap',
 'sas',
 'sass',
 'scala',
 'scikit-learn',
 'scrum',
 'scrum/agile',
 'seaborn',
 'selenium',
 'server',
 'sharepoint',
 'shell',
 'slack',
 'snowflake',
 'spark',
 'splunk',
 'spreadsheet',
 'spreadsheets',
 'spss',
 'sql',
 'ssas',
 'ssis',
 'ssrs',
 'swift',
 't-sql',
 'tableau',
 'tensorflow',
 'terminal',
 'theano',
 'tidyr',
 'twilio',
 'ubuntu',
 'unix',
 'unix/linux',
 'vb.net',
 'vba',
 'visio',
 'visual_basic',
 'vue',
 'vue.js',
 'warehousing',
 'word',
 'xml'}

In [ ]:
replace_dict = {'back-end': 'backend', 'cicd': 'ci/cd', 'data_lakes': 'data_lake',
                'go': 'golang', 'js': 'javascript', 'ml': 'machine_learning',
                'mongo': 'mongodb', 'no-sql': 'nosql', 'postgresql': 'postgres',
                'power_bi': 'powerbi', 'powerpoints': 'powerpoint',
                'spreadsheets': 'spreadsheet', 't-sql': 'mssql', 'vue.js': 'vue',
                'scikit-learn': 'machine_learning', 'keras': 'ai', 'nlp': 'ai',
                'nltk': 'ai', 'pytorch': 'ai', 'tensorflow': 'ai', 'theano': 'ai',
                'matplotlib': 'python', 'numpy': 'python', 'pandas': 'python',
                'seaborn': 'python'}

job_skills['skills'] = job_skills['skills'].replace(replace_dict)
job_skills = job_skills.query('skills != "coding"')
job_skills = job_skills.query('skills != "programming"')

In [ ]:
filter = job_skills.duplicated()
job_skills[filter]

       job_id            skills
15          5         data_lake
232       135            python
282       157          postgres
447       225  machine_learning
501       252             mssql
...       ...               ...
54671   25091                ai
54672   25091  machine_learning
54701   25109  machine_learning
54716   25113            python
54720   25113            python

[1818 rows x 2 columns]

In [ ]:
job_skills = job_skills[~filter]

In [ ]:
a = set(job_info.index)
b = set(job_skills['job_id'])
a.difference(b)

{11841}

In [ ]:
b.difference(a)

set()

In [ ]:
data.loc[11841]

posting_date            2020-04-30 00:00:00
title                          Data Analyst
position_type                     Full-time
position_level             Mid-Senior level
yoe                                       4
skills                           ['coding']
location                      San Diego, CA
number_of_applicants                   12.0
company_name                     Cue Health
company_industry              Biotechnology
company_size                    1,001-5,000
Name: 11841, dtype: object

In [ ]:
new_row = {'job_id': 11841, 'skills': np.nan}
job_skills = job_skills.append(new_row, ignore_index=True)

<ipython-input-38-4fd690a562b6>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  job_skills = job_skills.append(new_row, ignore_index=True)

In [ ]:
job_info = job_info.reset_index()
job_info.rename({'index': 'job_id'}, axis=1, inplace=True)

In [ ]:
path = '/content/drive/My Drive/MyFolder/'
file_name = 'job_info.csv'

with open(path+file_name, 'w') as f:
    job_info.to_csv(f, index=False)

In [ ]:
path = '/content/drive/My Drive/MyFolder/'
file_name = 'job_skills.csv'

with open(path+file_name, 'w') as f:
    job_skills.to_csv(f, index=False)